<ng-container>
  <div class="bgr-container">
    <form class="example-form">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>First campaign</mat-label>
        <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker"
          [comparisonStart]="campaignTwo.value.start" [comparisonEnd]="campaignTwo.value.end">
          <input matStartDate placeholder="Start date" formControlName="start">
          <input matEndDate placeholder="End date" formControlName="end">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Số người</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="food">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="text-input">
        <mat-label>Mã khuyến mãi</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </form>

    <div class="row">
      <div class="col-md-9">
        <app-list-service></app-list-service>
      </div>
      <div class="col-md-3">
        <app-price-service></app-price-service>
      </div>
    </div>
  </div>
</ng-container>