<div class="form-group row">
  <h5>
    Chọn tiện ích phòng
    <button
      class="btn btn-bg-primary btn-elevate mr-5"
      (click)="OpenDialogThemTienIch($event)"
    >
      Thêm tiện ích
    </button>
  </h5>
  <div class="col-md-12">
    <div *ngFor="let tienIch of listTienIch">
      <input
        class="form-check-input"
        type="checkbox"
        [attr.value]="tienIch.check"
        [(ngModel)]="tienIch.check"
        [attr.id]="'checkDataFor-' + tienIch.id"
      />
      <label class="form-check-label" [attr.for]="'checkDataFor-' + tienIch.id">
        {{ tienIch.tieuDe }}
      </label>
    </div>
  </div>
</div>
