.example-margin {
    margin: 0 10px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

.mat-card {
    transition: none;
    padding: 0;
    margin: 0;
}

.mat-checkbox {
    margin-right: 10px;
}

.mgr-r button {
    margin-left: 15px;
}