<ng-container>
    <div>
        <table class="table">
            <tr>
                <td>
                    <p class="text-title">Tổng</p>
                    <app-collapse-service></app-collapse-service>
                </td>
                <td>
                    <p class="font-w">6.000.000 đ</p>
                    <p>1phong</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-title">Phòng 1</p>
                    <p>room luxury</p>
                    <p>1 người lớn</p>
                </td>
                <td>
                    <p class="font-w">6.000.000 đ</p>
                    <p>1phong</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-title">Bổ sung</p>
                    <app-collapse-service></app-collapse-service>
                </td>
                <td>
                    <p class="font-w">6.000.000 đ</p>
                    <p>1phong</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Room luxury</p>
                </td>
                <td>
                    <p class="font-w">6.000.000 đ</p>
                    <a>bỏ</a>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Room luxury</p>
                </td>
                <td>
                    <p class="font-w">6.000.000 đ</p>
                    <a>bỏ</a>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <button mat-raised-button color="primary" style="width:100%">Đặt phòng</button>
    </div>
</ng-container>