<ng-container>
    <div>
        <table class="table">
            <tr>
                <td>
                    <p>Tổng</p>
                    <app-collapse-service></app-collapse-service>
                </td>
                <td>
                    <p>6.000.000 đ</p>
                    <p>1phong</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Phòng 1</p>
                    <p>room luxury</p>
                    <p>1 người lớn</p>
                </td>
                <td>
                    <p>6.000.000 đ</p>
                    <p>1phong</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Bổ sung</p>
                    <app-collapse-service></app-collapse-service>
                </td>
                <td>
                    <p>6.000.000 đ</p>
                    <p>1phong</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Room luxury</p>
                </td>
                <td>
                    <p>6.000.000 đ</p>
                    <a>bỏ</a>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Room luxury</p>
                </td>
                <td>
                    <p>6.000.000 đ</p>
                    <a>bỏ</a>
                </td>
            </tr>
        </table>
    </div>
</ng-container>