<app-template-dialog
  [titleDialog]="titleDialog"
  [isDisabledSaveButton]="false"
  (_closeDialogNotSaveData)="closeDialogNotSaveData($event)"
  (_closeDialogSaveData)="closeDialogSaveData($event)"
>
  <form action="#" class="form form-label-right" [formGroup]="formData">
    <div class="mb-3 row">
      <label for="staticEmail" class="col-sm-2 col-form-label">
        Tên dịch vụ <span class="text-danger">(*)</span></label
      >
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="staticEmail"
          formControlName="tenDichvu"
          name="tenDichvu"
          placeholder="Nhập tên dịch vụ"
        />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label"
        >Hình ảnh <span class="text-danger">(*)</span></label
      >
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          formControlName="anhDaiDien"
          name="anhDaiDien"
          placeholder="Chọn hình ảnh"
        />
      </div>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="inlineRadio1"
        >Giá được tính theo</label
      >
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="giaTinhTheo"
        formControlName="giaTinhTheo"
        value="1"
      />
      <label class="form-check-label">dịch vụ</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="giaTinhTheo"
        formControlName="giaTinhTheo"
        value="2"
      />
      <label class="form-check-label">số người</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="giaTinhTheo"
        formControlName="giaTinhTheo"
        value="3"
      />
      <label class="form-check-label">số đêm lưu trú</label>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label"
        >Giá <span class="text-danger">(*)</span></label
      >
      <div class="col-sm-10">
        <div class="row">
          <div class="col-md-10">
            <input
              type="number"
              class="form-control mb-3"
              name="giaTheoDichVu"
              formControlName="giaTheoDichVu"
              placeholder="Nhập số tiền theo dịch vụ"
            />
          </div>
          <div class="col-md-2">VNĐ</div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <input
              type="number"
              class="form-control mb-3"
              name="giaTheoDemLuuTru"
              formControlName="giaTheoDemLuuTru"
              placeholder="Nhập số tiền ứng với 1 đêm lưu trú"
            />
          </div>
          <div class="col-md-2">VNĐ</div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-10">
                <input
                  type="number"
                  class="form-control mb-3"
                  name="giaTheoNguoiLon"
                  formControlName="giaTheoNguoiLon"
                  placeholder="Giá dịch vụ cho 1 lớn"
                />
              </div>
              <div class="col-md-2">VNĐ</div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-8">
                <input
                  type="number"
                  class="form-control mb-3"
                  name="giaTheoTreEm"
                  formControlName="giaTheoTreEm"
                  placeholder="Giá dịch vụ cho 1 trẻ em"
                />
              </div>
              <div class="col-md-2">VNĐ</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="trangThai" class="col-sm-2 col-form-label">Trạng thái</label>
      <div class="col-sm-10">
        <mat-slide-toggle formControlName="trangThai" name="trangThai">
        </mat-slide-toggle>
      </div>
    </div>
  </form>
  <h5>Nội dung hiển thị theo ngôn ngữ</h5>
  <app-table-language
    [dataSource]="dataSourceLanguage"
    [DisplayedColumns]="displayedColumns"
    [ListColumnDef]="ListColumnDef"
    (_changeData)="UpdateData($event)"
  >
  </app-table-language>
</app-template-dialog>
