.bg_snackbar_Success{
    color: white!important;
}
.bg_snackbar_Error{
    color: red!important;
}
.bg_snackbar_Warning{
    color: orange!important;
}
.bg_snackbar_Basic{
    color: white!important;
}
.border-header-top{
    box-shadow: 0 10px 30px 0 rgba(82,63,105,.08);
    background-color: #fff;
    border-bottom: 1px solid #ebedf3;
}
#kt_content{
    padding-top: 90px!important;
    min-height: 660px;
}
.form-group label{
    font-weight: bold;
}