:host::ng-deep {
   .layout-upload{
    width: 100%;
    height: 200px;
    border: 1rem dashed #4095d2;
  }
  .modify-icon{
    font-size: 100px;
    color: #4095d2;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
}
