<div class="row">
  <label for="staticEmail" class="col-md-2 col-form-label">
    Ngày bắt đầu:
  </label>
  <div class="col-md">
    <mat-form-field appearance="fill" class="form-control-edit">
      <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event, 'startDate')" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>
  </div>
  <label for="staticEmail" class="col-md-2 col-form-label">
    Ngày kết thúc:
  </label>
  <div class="col-md">
    <mat-form-field appearance="fill" class="form-control-edit">
      <input matInput [matDatepicker]="pickerOne" (dateChange)="onDateChange($event, 'endDate')">
      <mat-datepicker-toggle matSuffix [for]="pickerOne"></mat-datepicker-toggle>
      <mat-datepicker #pickerOne startView="year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <label for="staticEmail" class="col-md-2 col-form-label">
    Phản hồi:
  </label>
  <div class="col-md">
    <select class="form-control" (click)="onChange($event, 'feedBack')">
      <option value="">Tất cả</option>
      <option value="1">Đã phản hồi</option>
      <option value="0">Chưa phản hồi</option>
    </select>
  </div>
  <label for="staticEmail" class="col-md-2 col-form-label">
    Thanh toán:
  </label>
  <div class="col-md">
    <select class="form-control" (click)="onChange($event, 'status')">
      <option value="">Tất cả</option>
      <option value="1">Đã thanh toán</option>
      <option value="0">Chưa thanh toán</option>
    </select>
  </div>
</div>