.form-control-edit .mat-form-field-flex{
    background: #ffffff;
    border: 1px solid #E4E6EF;
  }
  .form-control-edit{
    width: 100%;
  }
  .form-control-edit .mat-form-field-flex{
    padding: 0 !important;
  }
  .form-control-edit .mat-input-element {
    padding-left: 1rem;
  }