<div class="row">
  <div class="col-md-12">
    <button
      type="button"
      class="btn btn-secondary btn-padding-b"
      (click)="openDialogChiTietNhomQuyen(0)"
    >
      <i class="far fa-plus-square"></i>Thêm
    </button>
    <button
      type="button"
      class="btn btn-success btn-padding-b"
      (click)="openDialogChiTietNhomQuyen(activeNhomQuyen)"
    >
      <i class="far fa-edit"></i>Sửa
    </button>
    <button
      type="button"
      class="btn btn-danger btn-padding-b"
      (click)="deleteNhomQuyen(activeNhomQuyen)"
    >
      <i class="far fa-trash-alt"></i>Xóa
    </button>
  </div>
  <div class="col-md-12">
    <ul class="nav flex-column nav-pills">
      <li class="nav-item border-nav" *ngFor="let nhomQuyen of listNhomQuyen">
        <a
          class="nav-link"
          [ngClass]="nhomQuyen.select ? ' active' : ''"
          (click)="seletcNhomQuyen(nhomQuyen)"
          >{{ nhomQuyen.tenNhomQuyen }}</a
        >
      </li>
    </ul>
  </div>
</div>
