<!--begin::Container-->
<div [ngClass]="footerContainerCSSClasses"
  class="d-flex flex-column flex-md-row align-items-center justify-content-between" >
  <!--begin::Copyright-->
  <div class="text-dark order-2 order-md-1">
   
  </div>
  <!--end::Copyright-->

  <!--begin::Nav-->
  <div class="nav nav-dark order-1">
    <a href="https://hotelpms.vn" target="_blank" class="nav-link pl-0 pr-5">About</a>
    <a href="https://hotelpms.vn" target="_blank" class="nav-link pl-0 pr-5">Team</a>
    <a href="https://hotelpms.vn" target="_blank" class="nav-link pl-0 pr-5">Contact</a>
    <a href="https://hotelpms.vn" target="_blank" class="nav-link pl-0 pr-5">Apata Travel</a>
    <span class="text-muted font-weight-bold mr-2 nav-link pl-0 pr-3 pl-2">{{ currentYear }} &copy;</span>
  </div>
  <!--end::Nav-->
</div>
<!--end::Container-->