<div class="bgr-container">
  <form [formGroup]="options">
    <div class="row">
      <div class="col-md-8 row">
        <label for="staticEmail" class="col-md-2 col-form-label">
          Từ ngày:
        </label>
        <div class="col-md">
          <mat-form-field appearance="fill">
            <input class="input-date" matInput [matDatepicker]="picker" formControlName="TuNgay" (dateChange)="onChangeData($event)" />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <label for="staticEmail" class="col-md-2 col-form-label">
          Khoảng ngày:
        </label>
        <div class="col-md">
          <select
            class="form-control form-control-lg form-control-solid"
            name="KhoangNgay"
            formControlName="KhoangNgay"
            (click)="onChangeData($event)"
          >
            <option
              *ngFor="let element of elementComboboxSelectRangeDate"
              [value]="element.id"
            >
              {{ element.viewValue }}
            </option>
          </select>
        </div>
     </div>
    </div>
  </form>
  <app-list-date-book-room
    [listPhongGia]="listPhongGia"
    [listPhongGiaModel]="listPhongGiaModel"
    (updateData)="updateDataInService($event)"
    (updateDataMoreDay)="updateDataInServiceMoreDay($event)"
    (updateDataStatusMoreDay)="updateDataStatusMoreDay($event)"
  ></app-list-date-book-room>
</div>
