<div class="bgr-container">
    <ng-container>
        <div class="btn-search row justify-content-last">
            <form [formGroup]="options">
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Tùy chỉnh</mat-label>
                <mat-select>
                    <mat-option *ngFor="let tuan of tuans" [value]="tuan.value">
                        {{tuan.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-flat-button color="primary">Tìm kiếm</button>
        </form>
        </div>
    </ng-container>
    <ng-container >
        <div class="row">
            <div class="col-md-6 label-icon">
                <label>
                    <span class="material-icons green">
                        brightness_1
                    </span>
                    <span class="text">ở bán</span>
                </label>
                <label>
                    <span class="material-icons red">
                        brightness_1
                    </span>
                    <span class="text">Đóng</span></label>
                <label>
                    <span class="material-icons yellow">
                        brightness_1
                    </span>
                    <span class="text">Không phòng/giá</span></label>
            </div>
            <div class="col-md-6">
                <div class="row justify-content-end btn-right">
                    <button mat-flat-button color="warn" (click)="openDialogDatPhong($event)">Đóng phòng</button>
                    <button mat-flat-button color="primary" (click)="openDialogDatPhong($event)">Mở phòng</button>
                </div>
               
            </div>
        </div>
    </ng-container>
    <ng-container>
        <div>
            <div>
                <h4>Garden bungalow (GB)</h4>
            </div>
            <div class="row">
                <div class="col-md-3 col-1lg">
                    <table class="table table-bordered my-th-table">
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Trạng thái phòng</td>
                        </tr>
                        <tr>
                            <td>Phòng để bàn 
                                <button mat-flat-button color="primary" (click)="openDialog($event)">Chỉnh sửa</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Giá cài đặt
                                <button mat-flat-button color="primary" (click)="openDialog($event)">Chỉnh sửa</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Opening Month (giá cài đặt 10%)</td>
                        </tr>
                        <tr>
                            <td>Promotion Test 1 (Giá cài đặt - 0%)</td>
                        </tr>
                        <tr>
                            <td>Base Promotion (Giá cài đặt - 15%)</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-9 col-2lg">
                    <div class="table-scroll">
                        <table class="table table-bordered my-tbody">
                            <tr>
                                <td><label>Thứ 2</label><label>12/10</label></td>
                                <td><label>Thứ 2</label><label>12/10</label></td>
                                <td><label>Thứ 2</label><label>12/10</label></td>
                                <td><label>Thứ 2</label><label>12/10</label></td>
                                <td><label>Thứ 2</label><label>12/10</label></td>
                                <td><label>Thứ 2</label><label>12/10</label></td>
                                <td><label>Thứ 2</label><label>12/10</label></td>
                                <td><label>Thứ 2</label><label>12/10</label></td>
                                <td><label>Thứ 2</label><label>12/10</label></td>
                                <td><label>Thứ 2</label><label>12/10</label></td>
                                <td><label>Thứ 2</label><label>12/10</label></td>
                                <td><label>Thứ 2</label><label>12/10</label></td>
                                <td><label>Thứ 2</label><label>12/10</label></td>
                                <td><label>Thứ 2</label><label>12/10</label></td>
                                <td><label>Thứ 2</label><label>12/10</label></td>
                            </tr>
                            <tr>
                                <td> <mat-slide-toggle formControlName="value1"></mat-slide-toggle></td>
                                <td> <mat-slide-toggle formControlName="value2"></mat-slide-toggle></td>
                                <td> <mat-slide-toggle formControlName="value3"></mat-slide-toggle></td>
                                <td> <mat-slide-toggle formControlName="value4"></mat-slide-toggle></td>
                                <td> <mat-slide-toggle formControlName="value5"></mat-slide-toggle></td>
                                <td> <mat-slide-toggle formControlName="value6"></mat-slide-toggle></td>
                                <td> <mat-slide-toggle formControlName="value7"></mat-slide-toggle></td>
                                <td> <mat-slide-toggle formControlName="value8"></mat-slide-toggle></td>
                                <td> <mat-slide-toggle formControlName="value9"></mat-slide-toggle></td>
                                <td> <mat-slide-toggle formControlName="value10"></mat-slide-toggle></td>
                                <td> <mat-slide-toggle formControlName="value11"></mat-slide-toggle></td>
                                <td> <mat-slide-toggle formControlName="value12"></mat-slide-toggle></td>
                                <td> <mat-slide-toggle formControlName="value13"></mat-slide-toggle></td>
                                <td> <mat-slide-toggle formControlName="value14"></mat-slide-toggle></td>
                                <td> <mat-slide-toggle formControlName="value15"></mat-slide-toggle></td>
                            </tr>
                            <tr>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                            </tr>
                            <tr>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                                <td><label class="label-price">10</label></td>
                            </tr>
                            <tr>
                                <td><label>4</label></td>
                                <td><label>3</label></td>
                                <td><label>2</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                            </tr>
                            <tr>
                                <td><label>4</label></td>
                                <td><label>3</label></td>
                                <td><label>2</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                            </tr>
                            <tr>
                                <td><label>4</label></td>
                                <td><label>3</label></td>
                                <td><label>2</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                                <td><label>10</label></td>
                            </tr>
                        
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
