<div class="bgr-container">
    <ng-container>
        <div class="btn-search row justify-content-last">
            <form [formGroup]="options">
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Tùy chỉnh</mat-label>
                <mat-select>
                    <mat-option *ngFor="let tuan of tuans" [value]="tuan.value">
                        {{tuan.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-flat-button color="primary">Tìm kiếm</button>
        </form>
        </div>
    </ng-container>
    <app-list-date-book-room></app-list-date-book-room>
</div>
