<app-template-dialog
  [titleDialog]="titleDialog"
  [isDisabledSaveButton]="false"
  (_closeDialogNotSaveData)="closeDialogNotSaveData($event)"
  (_closeDialogSaveData)="closeDialogSaveData($event)"
>
  <form action="#" class="form form-label-right" [formGroup]="formData">
    <div class="form-group row">
      <label class="form-label col-sm-2">Tên loại phòng</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control form-control-lg form-control-solid is-invalid"
          name="tenLoaiPhong"
          placeholder="Nhập tên loại phòng"
          [class.is-invalid]="validation.isControlInvalid('tenLoaiPhong')"
          [class.is-valid]="validation.isControlValid('tenLoaiPhong')"
          formControlName="tenLoaiPhong"
        />
        <div
          class="invalid-feedback"
          *ngIf="validation.controlHasError('required', 'tenLoaiPhong')"
        >
          Nhập tên Loại phòng
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2">
        <label class="form-label">Mã loại phòng</label>
      </div>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control form-control-lg form-control-solid is-invalid"
          name="maLoaiPhong"
          placeholder="Nhập mã loại phòng"
          [class.is-invalid]="validation.isControlInvalid('maLoaiPhong')"
          [class.is-valid]="validation.isControlValid('maLoaiPhong')"
          formControlName="maLoaiPhong"
        />
        <div
          class="invalid-feedback"
          *ngIf="validation.controlHasError('required', 'maLoaiPhong')"
        >
          Nhập mã loại phòng
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="form-label col-sm-2">Ảnh đại diện</label>
      <div class="col-sm-10 row">
        <div class="col-md-8">
          <input
            type="text"
            class="form-control form-control-lg form-control-solid is-invalid"
            name="anhDaiDien"
            placeholder="Nhập tên loại phòng"
            [class.is-invalid]="validation.isControlInvalid('anhDaiDien')"
            [class.is-valid]="validation.isControlValid('anhDaiDien')"
            formControlName="anhDaiDien"
          />
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary">Chọn ảnh đại diện</button>
        </div>
      </div>
      <div
        class="invalid-feedback"
        *ngIf="validation.controlHasError('required', 'anhDaiDien')"
      >
        Nhập tên ảnh đại diện
      </div>
    </div>
    <div class="form-group row">
      <label class="form-label col-sm-2">Kích thước phòng</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control form-control-lg form-control-solid is-invalid"
          name="kichThuoc"
          placeholder="Nhập kích thước phòng"
          [class.is-invalid]="validation.isControlInvalid('kichThuoc')"
          [class.is-valid]="validation.isControlValid('kichThuoc')"
          formControlName="kichThuoc"
        />
        <div
          class="invalid-feedback"
          *ngIf="validation.controlHasError('required', 'kichThuoc')"
        >
          Nhập kích thước phòng
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="form-label col-sm-2">Trạng thái</label>
      <div class="col-sm-10">
        <mat-slide-toggle formControlName="trangThai" name="trangThai">
        </mat-slide-toggle>
      </div>
    </div>
    <div class="form-group row">
      <label class="form-label col-sm-2">Hướng nhìn</label>
      <div class="col-sm-10">
        <select
          class="form-control form-control-lg form-control-solid"
          name="iD_HuongNhin"
          formControlName="iD_HuongNhin"
          [class.is-invalid]="validation.isControlInvalid('iD_HuongNhin')"
          [class.is-valid]="validation.isControlValid('iD_HuongNhin')"
        >
          <option value="">-- Lựa chọn --</option>
          <option
            *ngFor="let item of listDataHuongNhin"
            value="{{ item.iD_HuongNhin }}"
          >
            {{ item.tieuDe }}
          </option>
        </select>
        <div
          class="invalid-feedback"
          *ngIf="validation.controlHasError('required', 'iD_HuongNhin')"
        >
          Chọn hướng nhìn
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="form-label col-sm-2">Số người tối đa </label>
      <div class="col-sm-10 row">
        <div class="col-md-6">
          <select
            class="form-control form-control-lg form-control-solid"
            name="nguoiLon"
            formControlName="nguoiLon"
            [class.is-invalid]="validation.isControlInvalid('nguoiLon')"
            [class.is-valid]="validation.isControlValid('nguoiLon')"
          >
            <option [value]="'0'">-- Lựa chọn --</option>
            <option *ngFor="let item of listSoNguoiToiDa" [value]="item.id">
              {{ item.name }} Người lớn
            </option>
          </select>
          <div
            class="invalid-feedback"
            *ngIf="validation.controlHasError('required', 'nguoiLon')"
          >
            Chọn số người tối đa
          </div>
        </div>
        <div class="col-md-6">
          <select
            class="form-control form-control-lg form-control-solid"
            name="treEm"
            formControlName="treEm"
            [class.is-invalid]="validation.isControlInvalid('treEm')"
            [class.is-valid]="validation.isControlValid('treEm')"
          >
            <option [value]="'0'">-- Lựa chọn --</option>
            <option *ngFor="let item of listSoNguoiToiDa" [value]="item.id">
              {{ item.name }} trẻ em
            </option>
          </select>
          <div
            class="invalid-feedback"
            *ngIf="validation.controlHasError('required', 'treEm')"
          >
            Chọn số người tối đa
          </div>
        </div>
      </div>
    </div>
    <app-element-loai-guong-table
      [listLoaiGuong]="listLoaiGuong"
      (_openDialogAddNewTypeRoom)="openDialogAddNewTypeRoom($event)"
      (_clickRemoveButton)="clickRemoveButton($event)"
    ></app-element-loai-guong-table>
    <app-element-tien-ich-check-list
      [listTienIch]="listTienIch"
      (_OpenDialogThemTienIch)="OpenDialogThemTienIch($event)"
    ></app-element-tien-ich-check-list>
    <app-element-hinh-anh-list></app-element-hinh-anh-list>
    <h5>Nội dung hiển thị theo ngôn ngữ</h5>
    <app-table-language
      [dataSource]="dataSourceLanguage"
      [DisplayedColumns]="displayedColumns"
      [ListColumnDef]="ListColumnDef"
      (_changeData)="UpdateData($event)"
    >
    </app-table-language>
  </form>
</app-template-dialog>
