.hover-cursor{
    cursor: pointer;
}
table{
    mat-checkbox {
        padding-right: 15px;
        top: -1px;
        position: relative;
    }
    .mat-sort-header-content {
        text-align: left;
    }
}
