:host {
  .aside {
    height: 100%;

    .aside-menu {
      margin: 0;
    }
  }

  // fixed text line break issue on minimized aside hover
  .menu-text {
    white-space: nowrap;
  }
}

.material-icons{
  font-size: 20px !important;
  line-height: 25px;
  margin-right: 5px;
  color: #a2a3b7;
}

.menu-link:hover .material-icons{
  color: #ffffff;
}
